
APE/.idea/APE.iml
APE/.idea/inspectionProfiles/profiles_settings.xml
APE/.idea/misc.xml
APE/.idea/modules.xml
APE/projeto/__pycache__/main.cpython-310.pyc
APE/semana-17/__pycache__/ex01function.cpython-310.pyc
LM/semana-02/site/.DS_Store
LM/semana-02/site/img/.DS_Store
LM/semana-03/site-2/img/.DS_Store
LM/semana-07/site-flex/.DS_Store
LM/semana-07/site-grid/img/.DS_Store
*.iml
*.iml
ED/.idea/ED.iml
*.xml
ED/.idea/ED.iml
ED/.idea/ED.iml
ED/.idea/inspectionProfiles/profiles_settings.xml
ED/.idea/misc.xml
ED/.idea/modules.xml
ED/.idea/vcs.xml
ED/semana-02/__pycache__/Bomba.cpython-36.pyc
ED/semana-02/rpg/__pycache__/game.cpython-36.pyc
ED/semana-02/lista04/__pycache__/calculadora.cpython-310.pyc
ED/semana-02/rpg/__pycache__/game.cpython-36.pyc
ED/semana-05/__pycache__/Baralho.cpython-310.pyc
ED/semana-05/__pycache__/Baralho.cpython-36.pyc
ED/semana-05/__pycache__/Baralho.cpython-310.pyc
ED/semana-05/__pycache__/Carta.cpython-310.pyc
ED/semana-05/__pycache__/Carta.cpython-36.pyc
ED/semana-06/__pycache__/pilha_sequencial.cpython-36.pyc
ED/semana-07/__pycache__/fila.cpython-36.pyc
.Rhistory
ED/mini-projeto2/__pycache__/BinaryTree.cpython-36.pyc
*.Identifier
ED/mini-projeto2/__pycache__/BinaryTree.cpython-38.pyc
ED/mini-projeto2/__pycache__/BinaryTree.cpython-38.pyc
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
PWEB/semana-03/banco-node-1/node_modules/.bin/tsc
PWEB/semana-03/banco-node-1/node_modules/.bin/tsserver
PWEB/semana-03/banco-node-1/node_modules/.package-lock.json
PWEB/semana-03/banco-node-1/node_modules/typescript/bin/tsc
PWEB/semana-03/banco-node-1/node_modules/typescript/bin/tsserver
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/cancellationToken.js
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/de/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/dynamicImportCompat.js
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/es/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/it/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.dom.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.dom.iterable.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.collection.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.core.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.generator.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.iterable.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.promise.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.proxy.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.reflect.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.symbol.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2016.array.include.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2016.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2016.full.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2017.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2017.full.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2017.intl.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2017.object.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2017.string.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2018.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2018.full.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2018.intl.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2018.promise.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2018.regexp.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2019.array.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2019.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2019.full.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2019.intl.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2019.object.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2019.string.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2019.symbol.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.bigint.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.date.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.full.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.intl.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.number.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.promise.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.string.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2021.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2021.full.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2021.intl.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2021.promise.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2021.string.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2021.weakref.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2022.array.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2022.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2022.error.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2022.full.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2022.intl.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2022.object.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2022.sharedmemory.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es2022.string.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es5.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.es6.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.esnext.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.esnext.full.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.esnext.intl.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.esnext.promise.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.esnext.string.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.esnext.weakref.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.scripthost.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.webworker.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/lib.webworker.iterable.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/protocol.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/README.md
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/tsc.js
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/tsserver.js
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/tsserverlibrary.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/tsserverlibrary.js
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/typescript.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/typescript.js
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/typescriptServices.d.ts
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/typescriptServices.js
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/typesMap.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/typingsInstaller.js
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/watchGuard.js
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
PWEB/semana-03/banco-node-1/node_modules/typescript/LICENSE.txt
PWEB/semana-03/banco-node-1/node_modules/typescript/package.json
PWEB/semana-03/banco-node-1/node_modules/typescript/README.md
PWEB/semana-03/banco-node-1/node_modules/typescript/SECURITY.md
PWEB/semana-03/banco-node-1/node_modules/typescript/ThirdPartyNoticeText.txt
