
APE/.idea/APE.iml
APE/.idea/inspectionProfiles/profiles_settings.xml
APE/.idea/misc.xml
APE/.idea/modules.xml
APE/projeto/__pycache__/main.cpython-310.pyc
APE/semana-17/__pycache__/ex01function.cpython-310.pyc
LM/semana-02/site/.DS_Store
LM/semana-02/site/img/.DS_Store
LM/semana-03/site-2/img/.DS_Store
LM/semana-07/site-flex/.DS_Store
LM/semana-07/site-grid/img/.DS_Store
*.iml
*.iml
ED/.idea/ED.iml
*.xml
ED/.idea/ED.iml
ED/.idea/ED.iml
ED/.idea/inspectionProfiles/profiles_settings.xml
ED/.idea/misc.xml
ED/.idea/modules.xml
ED/.idea/vcs.xml
ED/semana-02/__pycache__/Bomba.cpython-36.pyc
ED/semana-02/rpg/__pycache__/game.cpython-36.pyc
ED/semana-02/lista04/__pycache__/calculadora.cpython-310.pyc
ED/semana-02/rpg/__pycache__/game.cpython-36.pyc
ED/semana-05/__pycache__/Baralho.cpython-310.pyc
ED/semana-05/__pycache__/Baralho.cpython-36.pyc
ED/semana-05/__pycache__/Baralho.cpython-310.pyc
ED/semana-05/__pycache__/Carta.cpython-310.pyc
ED/semana-05/__pycache__/Carta.cpython-36.pyc
ED/semana-06/__pycache__/pilha_sequencial.cpython-36.pyc
ED/semana-07/__pycache__/fila.cpython-36.pyc
.Rhistory
ED/mini-projeto2/__pycache__/BinaryTree.cpython-36.pyc
*.Identifier
ED/mini-projeto2/__pycache__/BinaryTree.cpython-38.pyc
ED/mini-projeto2/__pycache__/BinaryTree.cpython-38.pyc
