table {
    text-align: center;
    width: 50%;
    min-width: 300px;
    margin: 50px auto auto auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.alunos {
    text-align: left;
}

td, th {
    padding: 5px;
}

tbody tr:nth-child(2n + 1) {
    background-color: rgb(240, 248, 255);
}
